body {
  margin: 0;
  padding: 0;
  font-family: "Century Gothic",Verdana,sans-serif;
  background-color: #f4f4f4; /* Gris claro */
  color: #555; /* Texto oscuro */
  font-size: 20px;
}


/* Contenedor del header */
.header-container {
  display: flex; /* Flexbox para alinear elementos */
  justify-content: center; /* Espacio entre elementos */
  align-items: center; /* Centrar verticalmente */
  padding: 20px 30px;
  background-color: #999;

}

/* Estilos para el título del header */
.header-title {
  font-size: 40px; /* Tamaño de fuente */
  
  color: #f4f4f4; /* Color de texto */
  padding: 10px; /* Margen cero */
  border-radius: 10px;
  border: none;

}

.herder-image{
  box-sizing: border-box;
  border-radius: 10px;
}

nav {
 padding: 1em;
   position: fixed;
  top: 0;
  width: 100%;
  
  z-index: 1;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin-right: 1em;
}

nav a {
  text-decoration: none;
  background-color: #555;
  color: #f4f4f4; /* Color de texto */
  border-radius: 10px;
  padding: 5px;
 

}

nav a:hover {
  background-color: #f4f4f4;
  color: #555; /* Rojo oscuro */


}

main {
  padding: 1em;

}

.img-fullconect{
  display: flex; /* Utiliza flexbox para centrar vertical y horizontalmente */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.img-fullconect img{
  border: 2px solid #d32f2f;
  border-radius: 5px;
}

.soporte-container {
  display: flex;
  justify-content: center;

}

.img-soporte {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}


section {
  margin-bottom: 2em;
}

section h2 {
  color: #d32f2f; /* Rojo oscuro */
}

section p {
  line-height: 1.5;
  text-align: justify;
}

footer {
  background-color: #333; /* Gris oscuro */
  color: #fff; /* Texto blanco */
  padding: 1em;
  text-align: center;
}

footer p {
  margin: 0;
}

.img-soporte img{
  margin-top: 10px;
  border: solid 2px red;
}
